#pieChart {
    overflow: hidden;
    text-overflow: ellipsis;
}

table>thead>tr th {
    text-align: center;
}

table td {
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#pieChart svg {
    width: 300px;
    height: 300px;
}
svg:not(:root) {
    overflow: overlay;
}