header {
  display: none;
  margin: 35px 0;
  text-align: center;

  h1, h2 {
	color: #c3c1b5 !important;
  }

  .top-bar {
	position: absolute;
	width: 100%;
	height: 18px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: url("top-heading.png") no-repeat top;
	background-size: cover;
  }
}

table {
  display: none;
  background-color: #FFF;
  width: auto !important;
}

.sign {
  display: block;
  width: 167px;
  height: 37px;

  &.pie {
	background: url("pie-sign.png") no-repeat left;
	background-size: contain;
  }

  &.line {
	background: url("line-sign.png") no-repeat left;
	background-size: contain;
  }
}
