.ui.slider.checkbox input:checked ~ .box:before, .ui.slider.checkbox input:checked ~ label:before {
  background-color: inherit !important;
  color: inherit !important;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
    content: '\e800';
    background-color: inherit;
}