#trends {
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  ul {
	list-style-type: none;
  }

  li {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	padding-left: 30px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;

	span {
	  position: absolute;
	  height: 25px;
	  width: 25px;
	  left: 0;
	}
  }

  #trends-overlay {
	content: '';
	position: absolute;
	display: block;
	width: 747px;
	right: 0;
	top: -7px;
	height: 373px;
	color: #FFF;
	background-color: #FFF;
  }
}


.trends {
  background-color: #FFF;

  path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
	position: relative;
  }

  .axis path,
  .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
  }

  .legend {
	font-size: 11px;
	font-weight: bold;
	text-anchor: middle;
	cursor: pointer;
  }
}