@import "components";
@import "pie-chart";
@import "trends-graph";
@import "overide";


body {
  width: 1200px;
  overflow: auto;
  background: url("graph-bg.jpg") no-repeat center;
  background-size: cover, cover;
  margin: 0 auto;
}