@import "components";
@import "pie-chart";
@import "trends-graph";
@import "overide";

html {
  background: url("graph-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: transparent;
  width: 1200px;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
}